---
import { Icon } from 'astro-icon'
import navData from '../../../data/navData';

import Link from './Link.astro';
---


<nav aria-label="Primary Navigation" class="navContainer" tabindex="0">

    <!--    toggle dark mode button -->
            <button  
            arial-label="Toggle Dark Mode On/Off" 
            class="darkLightMode theme-switch" 
            id="darkLightButton" 
            aria-pressed="false"
            type="button"> 
                
            <svg
       xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round"
       aria-hidden="true"
       focusable="false"
       >
    <path d="M21 13A9 9 0 1 1 11 3a7 7 0 0 0 10 10z" />
  </svg>
  <svg
       xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round"
       aria-hidden="true"
       focusable="false"
       >
    <circle cx="12" cy="12" r="5" />
    <path
          d="M12 1v2m0 18v2M4 4l2 2m12 12 2 2M1 12h2m18 0h2M4 20l2-2M18 6l2-2"
          />
  </svg> 
                
            </button>

    


    
    <!--  SITE LOGO -->
         <a href="/" class="siteLogo font-bricks" aria-label="Site Logo"> ChaosAndVideoGames </a>
        

         <!-- NAVIGATION FOR MOBILE AND SEKTOP -->
    <div class="navigation" tabindex="0" >
    <!-- <img src="img/menu.png" class="menuIcon"/> -->
     
    <ul class="desktopNav">
        {
            navData.map((v) => (
        <li><Link 
            text={v.name}
            href={v.path}
            style="Secondary"
            isFilled={false}
            data-navLink
           
        /></li>
        ))
            }
    </ul>
        
         <div class="navBar" tabindex="0">
             <ul class="mobileNav">
                     {
                navData.map((v) => (
                     <li><Link
                text={v.name}
                href={v.path}
                style="Secondary"
                isFilled={false}
                data-navLink
               
                     /></li>
                     ))
                }
             </ul>
         </div>

  
    
</div>
    
</nav>
<script>
import "../../js/nav.js"
   

( () => {
    
	let theme = 'light';

	/**
	 * Function to toggle between themes
	 *
	 * @param {MouseEvent} event
	 */
	const onToggleTheme = ( { currentTarget } ) => {
		const newTheme = theme === 'light' ? 'dark' : 'light';
		theme = newTheme;

		document.documentElement.setAttribute( 'data-theme', newTheme );
		currentTarget.setAttribute( 'aria-pressed', newTheme === 'dark' );
	};

	// Get switch button and add click event
	const btn = document.querySelector( `.theme-switch` );
	if ( ! btn ) return;
	btn.addEventListener( 'click', onToggleTheme, false );
  
  

}
 )();

    
</script>
