---
import { Icon } from 'astro-icon'
import navData from '../../../data/navData';

import Link from './Link.astro';
---


<nav aria-label="Primary Navigation" class="navContainer" tabindex="0">

    <!--    toggle dark mode button -->
    <button  
    arial-label="Toggle Dark Mode On/Off" 
    class="darkLightMode" 
    id="darkLightButton" 
    type="button"> 
        
            <Icon pack="uit" width='2em' name="toggle-on"  />  
        
    </button>
    
    <!--  SITE LOGO -->
         <a href="/" class="siteLogo font-bricks" aria-label="Site Logo"> ChaosAndVideoGames </a>
        

         <!-- NAVIGATION FOR MOBILE AND SEKTOP -->
    <div class="navigation" tabindex="0" >
    <!-- <img src="img/menu.png" class="menuIcon"/> -->
     
    <ul class="desktopNav">
        {
            navData.map((v) => (
        <li><Link 
            text={v.name}
            href={v.path}
            style="Secondary"
            isFilled={false}
            data-navLink
           
        /></li>
        ))
            }
    </ul>
        
         <div class="navBar" tabindex="0">
             <ul class="mobileNav">
                     {
                navData.map((v) => (
                     <li><Link
                text={v.name}
                href={v.path}
                style="Secondary"
                isFilled={false}
                data-navLink
               
                     /></li>
                     ))
                }
             </ul>
         </div>

  
    
</div>
    
</nav>
<script>
import "../../js/nav.js"
   
    
</script>
