---


import { Image } from "@astrojs/image/components";
import Link from "./Link.astro";
import { filterTags } from "../../js/utils";


const { frontmatter,tagType } = Astro.props;
const { subtitle , desc, title , publishDate, author,url, tags, image} = frontmatter;

const Tag = tagType;

---


<article class="blogCard items-center justify-items-center">
     <a href={ url } tabindex="1">   
    <small>{author} - {publishDate}</small>
    <h2>{ title }</h2>
    <Tag onClick={filterTags} class="tags" > {tags} </Tag> 
       
            <Image 
                src = {image.src}
                alt = {image.alt}
                width = "500"
                height = "400"
                aspectRatio ="5:2"
                format = "jpeg"
                fit ="cover"
                quality={80}
                class=""
            />
    </a>
    <div class="descContainer">
        <p>{desc}
            
      
        </p>

    
    </div>
    
</article>