---
import { formatDate } from "../../js/utils";

const { frontmatter, tagType } = Astro.props;
const { subtitle, desc, title, publishDate, author, url, tags, image } =
  frontmatter;

const Tag = tagType;
const postDate = new Date(publishDate);
const isoDate = postDate.toISOString();
const formattedDate = formatDate(postDate);
---

<article class="blogCard items-center justify-items-center">
  <a href={url} class="blogCardLink">
    <small class="blogCardMeta"
      >{author} - <time datetime={isoDate}>{formattedDate}</time></small
    >
    <h2>{title}</h2>
    <Tag class="tags">{tags}</Tag>

    <img
      src={image.src}
      alt={image.alt}
      width="500"
      height="400"
      loading="lazy"
      decoding="async"
    />
  </a>
  <div class="descContainer">
    <p>{desc}</p>
  </div>
</article>
