---
import MainLayout from "./MainLayout.astro";
import BlogHeader from "./components/BlogHeader.astro";



const { frontmatter } = Astro.props
const { title, publishDate, description , tags, author, image} = frontmatter;

---
<MainLayout { title } {publishDate } {description} { tags }> 

    <BlogHeader
    {author}
    {title}
    {publishDate}
    {tags}
    {image}
    ></BlogHeader>

    <div class="lineBorderX">
        
        <div class="container">
        
            <slot/>
        
        </div>
    </div>

</>