---
import MainLayout from "./MainLayout.astro";
import BlogHeader from "./components/BlogHeader.astro";

const { frontmatter } = Astro.props;
const { title, publishDate, description, tags, author, image } = frontmatter;
---

<MainLayout {title} {description} image={image?.src} type="article">
  <BlogHeader {author} {title} {publishDate} {tags} {image} />

  <div class="lineBorderX">
    <div class="container blogPostContent">
      <slot />
    </div>
  </div>
</MainLayout>
